<section id="contact" class="max-w-6xl mx-auto py-16 px-6">
    <h2 class="text-3xl font-bold mb-10 text-gradient text-center"> Contact </h2>
    <div class="grid md:grid-cols-2 gap-4 items-center"> <!-- Imagen -->
        <div class="flex justify-center">
            <div class="hidden md:block rounded-3xl overflow-hidden drop-shadow-[0_0_25px_rgba(59,130,246,0.4)]"> <img
                    src="img/form_img.png" alt="Contacto" class="w-full max-w-md" /> </div>
        </div> <!-- Formulario -->
        <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-5">
            <div> <input type="text" placeholder="Your name" formControlName="name"
                    [class.border-red-500]="form.controls.name.touched && form.controls.name.invalid"
                    class="w-full p-3 rounded-xl bg-zinc-900 border border-zinc-700 focus:outline-none focus:ring-2 focus:ring-indigo-500" />
            </div>
            <div> <input type="email" placeholder="Your email" formControlName="email"
                    [class.border-red-500]="form.controls.email.touched && form.controls.email.invalid"
                    class="w-full p-3 rounded-xl bg-zinc-900 border border-zinc-700 focus:outline-none focus:ring-2 focus:ring-indigo-500" />
            </div>
            <div> <textarea rows="5" placeholder="Tu mensaje" formControlName="message"
                    [class.border-red-500]="form.controls.message.touched && form.controls.message.invalid"
                    class="w-full p-3 rounded-xl bg-zinc-900 border border-zinc-700 focus:outline-none focus:ring-2 focus:ring-indigo-500"></textarea>
            </div> <button type="submit" [disabled]="sending"
                class="px-6 py-3 rounded-xl bg-indigo-500 hover:bg-indigo-600 transition text-white font-semibold w-full">
                {{ sending ? 'Enviando...' : 'Enviar mensaje' }} </button> @if (success) { <p
                class="text-green-400 mt-3"> Mensaje enviado correctamente </p> } @if (error) { <p
                class="text-red-400 mt-3"> Error al enviar el mensaje </p> }
        </form>
    </div>
</section>