<section id="hero" class="relative pt-16">

    <!-- BANNER -->
    <div class="h-48 md:h-64 w-full bg-cover bg-center" style="background-image: url('banner/hero-banner.png');"></div>

    <!-- CONTENIDO HERO -->
    <div class="max-w-4xl mx-auto px-6 -mt-20 md:-mt-32 flex flex-col items-center text-center">

        <!-- FOTO MÁS GRANDE -->
        <img src="profile/jareth.png" alt="Jareth Moo"
            class="w-48 h-48 md:w-56 md:h-56 rounded-full border-4 border-zinc-900 object-cover shadow-xl"
            data-aos="zoom-in" />

        <!-- NOMBRE -->
        <h1 class="text-4xl md:text-5xl font-bold mt-6" data-aos="fade-up" data-aos-delay="100">
            Jareth Moo
        </h1>



        <!-- ROL -->
        <p class="text-indigo-400 font-medium mt-2" data-aos="fade-up" data-aos-delay="200">
            Backend Focused Software Engineer
        </p>

        <!-- DESCRIPCIÓN -->
        <p class="text-zinc-400 mt-6 max-w-xl text-center leading-relaxed" data-aos="fade-up" data-aos-delay="300">
            Software Engineering student at <b>Autonomus University of Yucatan (UADY)</b> with experience in backend
            development using Java and Spring
            Boot.
            I specialize in REST API design and building full-stack applications with Angular.
        </p>

        <!-- BOTONES -->
        <div class="flex gap-4 mt-8" data-aos="fade-up" data-aos-delay="400">
            <a href="#projects" class="px-6 py-3 bg-indigo-500 rounded-lg hover:bg-indigo-400 transition">
                View Projects
            </a>
            <a href="#about" class="px-6 py-3 border border-zinc-700 rounded-lg hover:border-zinc-500 transition">
                About me
            </a>
        </div>

    </div>

</section>